In [24]:
import pymc as pm
import numpy as np
import pandas as pd
import arviz as az
import matplotlib.pyplot as plt

In [35]:
# データセットの設定
n_schools = 5  # 学校の数
n_teachers_per_school = 3  # 各学校における教師の数
n_classes_per_teacher = 2  # 各教師におけるクラスの数
n_students_per_class = 30  # 各クラスにおける学生の数

# ランダムデータ生成
np.random.seed(0)

# 学校、教師、クラスの効果をランダムに生成
school_effects = np.random.normal(0, 5, n_schools)
teacher_effects = np.random.normal(0, 3, n_schools * n_teachers_per_school)
class_effects = np.random.normal(0, 2, n_schools * n_teachers_per_school * n_classes_per_teacher)

# データフレームの生成
data = []
for school_id in range(n_schools):
    for teacher_id in range(n_teachers_per_school):
        for class_id in range(n_classes_per_teacher):
            for student_id in range(n_students_per_class):
                # 学校、教師、クラスの効果を組み合わせて学生の成績を計算
                score = (
                    50 + school_effects[school_id] +
                    teacher_effects[school_id * n_teachers_per_school + teacher_id] +
                    class_effects[school_id * n_teachers_per_school * n_classes_per_teacher + 
                                  teacher_id * n_classes_per_teacher + class_id] +
                    np.random.normal(0, 10)
                )
                data.append({
                    "StudentID": f"S_{school_id}_{teacher_id}_{class_id}_{student_id}",
                    "Score": max(0, min(100, score)),  # 成績を0〜100の範囲に制限
                    "ClassID": f"C_{school_id}_{teacher_id}_{class_id}",
                    "TeacherID": f"T_{school_id}_{teacher_id}",
                    "SchoolID": f"School_{school_id}"
                })

df = pd.DataFrame(data)
print(df.head())
print(df.info())
for _, r in df.iterrows():
    print(r)

   StudentID      Score  ClassID TeacherID  SchoolID
0  S_0_0_0_0  41.827783  C_0_0_0     T_0_0  School_0
1  S_0_0_0_1  54.651473  C_0_0_0     T_0_0  School_0
2  S_0_0_0_2  45.674397  C_0_0_0     T_0_0  School_0
3  S_0_0_0_3  38.976127  C_0_0_0     T_0_0  School_0
4  S_0_0_0_4  50.500626  C_0_0_0     T_0_0  School_0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  900 non-null    object
 1   Score      900 non-null    float64
 2   ClassID    900 non-null    object
 3   TeacherID  900 non-null    object
 4   SchoolID   900 non-null    object
dtypes: float64(1), object(4)
memory usage: 35.3+ KB
None
StudentID    S_0_0_0_0
Score        41.827783
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 0, dtype: object
StudentID    S_0_0_0_1
Score        54.651473
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 1, dtype: object
StudentID    S_0_0_0_2
Score        45.674397
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 2, dtype: object
StudentID    S_0_0_0_3
Score        38.976127
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 3, dtype: object
StudentID    S_0_0_0_4
Score        50.500626
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 4, dtype: object
StudentID    S_0_0_0_5
Score        55.065767
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 5, dtype: object
StudentID    S_0_0_0_6
Score        51.447621
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 6, dtype: object
StudentID    S_0_0_0_7
Score        53.807167
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 7, dtype: object
StudentID    S_0_0_0_8
Score        44.439228
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 8, dtype: object
StudentID    S_0_0_0_9
Score        47.155037
ClassID        C_0_0_0
TeacherID        T_0_0
SchoolID      School_0
Name: 9, dtype: object
StudentID    S_0_0_0_10
Score         44.057844
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 10, dtype: object
StudentID    S_0_0_0_11
Score         47.186917
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 11, dtype: object
StudentID    S_0_0_0_12
Score         42.650986
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 12, dtype: object
StudentID    S_0_0_0_13
Score         33.519622
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 13, dtype: object
StudentID    S_0_0_0_14
Score          52.55671
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 14, dtype: object
StudentID    S_0_0_0_15
Score         46.764639
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 15, dtype: object
StudentID    S_0_0_0_16
Score         34.480465
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 16, dtype: object
StudentID    S_0_0_0_17
Score         55.410271
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 17, dtype: object
StudentID    S_0_0_0_18
Score         41.709465
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 18, dtype: object
StudentID    S_0_0_0_19
Score         51.301902
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 19, dtype: object
StudentID    S_0_0_0_20
Score         58.073354
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 20, dtype: object
StudentID    S_0_0_0_21
Score         52.072278
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 21, dtype: object
StudentID    S_0_0_0_22
Score         62.176455
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 22, dtype: object
StudentID    S_0_0_0_23
Score          38.43419
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 23, dtype: object
StudentID    S_0_0_0_24
Score         54.805865
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 24, dtype: object
StudentID    S_0_0_0_25
Score         43.934348
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 25, dtype: object
StudentID    S_0_0_0_26
Score         42.074477
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 26, dtype: object
StudentID    S_0_0_0_27
Score         44.993952
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 27, dtype: object
StudentID    S_0_0_0_28
Score         47.666923
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 28, dtype: object
StudentID    S_0_0_0_29
Score         51.344102
ClassID         C_0_0_0
TeacherID         T_0_0
SchoolID       School_0
Name: 29, dtype: object
StudentID    S_0_0_1_0
Score        45.544167
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 30, dtype: object
StudentID    S_0_0_1_1
Score         66.20393
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 31, dtype: object
StudentID    S_0_0_1_2
Score         61.85229
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 32, dtype: object
StudentID    S_0_0_1_3
Score        41.833228
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 33, dtype: object
StudentID    S_0_0_1_4
Score        72.078187
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 34, dtype: object
StudentID    S_0_0_1_5
Score        76.154557
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 35, dtype: object
StudentID    S_0_0_1_6
Score        68.983461
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 36, dtype: object
StudentID    S_0_0_1_7
Score        55.396417
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 37, dtype: object
StudentID    S_0_0_1_8
Score        46.488139
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 38, dtype: object
StudentID    S_0_0_1_9
Score        67.740183
ClassID        C_0_0_1
TeacherID        T_0_0
SchoolID      School_0
Name: 39, dtype: object
StudentID    S_0_0_1_10
Score         53.163896
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 40, dtype: object
StudentID    S_0_0_1_11
Score         69.420116
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 41, dtype: object
StudentID    S_0_0_1_12
Score         59.278415
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 42, dtype: object
StudentID    S_0_0_1_13
Score         66.962056
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 43, dtype: object
StudentID    S_0_0_1_14
Score         60.759329
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 44, dtype: object
StudentID    S_0_0_1_15
Score         64.261397
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 45, dtype: object
StudentID    S_0_0_1_16
Score         57.300665
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 46, dtype: object
StudentID    S_0_0_1_17
Score          75.05437
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 47, dtype: object
StudentID    S_0_0_1_18
Score         58.464786
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 48, dtype: object
StudentID    S_0_0_1_19
Score         61.215559
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 49, dtype: object
StudentID    S_0_0_1_20
Score         76.027172
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 50, dtype: object
StudentID    S_0_0_1_21
Score         43.718075
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 51, dtype: object
StudentID    S_0_0_1_22
Score         44.490815
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 52, dtype: object
StudentID    S_0_0_1_23
Score         66.889632
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 53, dtype: object
StudentID    S_0_0_1_24
Score         45.464431
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 54, dtype: object
StudentID    S_0_0_1_25
Score         76.631877
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 55, dtype: object
StudentID    S_0_0_1_26
Score         53.059475
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 56, dtype: object
StudentID    S_0_0_1_27
Score         49.721117
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 57, dtype: object
StudentID    S_0_0_1_28
Score         76.425086
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 58, dtype: object
StudentID    S_0_0_1_29
Score         72.000813
ClassID         C_0_0_1
TeacherID         T_0_0
SchoolID       School_0
Name: 59, dtype: object
StudentID    S_0_1_0_0
Score        82.074989
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 60, dtype: object
StudentID    S_0_1_0_1
Score        72.459846
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 61, dtype: object
StudentID    S_0_1_0_2
Score        54.787143
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 62, dtype: object
StudentID    S_0_1_0_3
Score        82.500049
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 63, dtype: object
StudentID    S_0_1_0_4
Score        60.719366
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 64, dtype: object
StudentID    S_0_1_0_5
Score        71.423963
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 65, dtype: object
StudentID    S_0_1_0_6
Score        72.871919
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 66, dtype: object
StudentID    S_0_1_0_7
Score        61.849298
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 67, dtype: object
StudentID    S_0_1_0_8
Score        69.540193
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 68, dtype: object
StudentID    S_0_1_0_9
Score        72.621466
ClassID        C_0_1_0
TeacherID        T_0_1
SchoolID      School_0
Name: 69, dtype: object
StudentID    S_0_1_0_10
Score         67.163655
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 70, dtype: object
StudentID    S_0_1_0_11
Score         52.405391
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 71, dtype: object
StudentID    S_0_1_0_12
Score         66.381781
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 72, dtype: object
StudentID    S_0_1_0_13
Score         76.663258
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 73, dtype: object
StudentID    S_0_1_0_14
Score         56.453721
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 74, dtype: object
StudentID    S_0_1_0_15
Score         61.903054
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 75, dtype: object
StudentID    S_0_1_0_16
Score         59.047864
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 76, dtype: object
StudentID    S_0_1_0_17
Score         81.892037
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 77, dtype: object
StudentID    S_0_1_0_18
Score         70.122347
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 78, dtype: object
StudentID    S_0_1_0_19
Score         67.474018
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 79, dtype: object
StudentID    S_0_1_0_20
Score         55.700239
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 80, dtype: object
StudentID    S_0_1_0_21
Score         68.791891
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 81, dtype: object
StudentID    S_0_1_0_22
Score         56.656073
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 82, dtype: object
StudentID    S_0_1_0_23
Score         63.717705
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 83, dtype: object
StudentID    S_0_1_0_24
Score         57.040939
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 84, dtype: object
StudentID    S_0_1_0_25
Score         70.163732
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 85, dtype: object
StudentID    S_0_1_0_26
Score         69.165308
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 86, dtype: object
StudentID    S_0_1_0_27
Score         61.316412
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 87, dtype: object
StudentID    S_0_1_0_28
Score         67.359467
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 88, dtype: object
StudentID    S_0_1_0_29
Score         52.468784
ClassID         C_0_1_0
TeacherID         T_0_1
SchoolID       School_0
Name: 89, dtype: object
StudentID    S_0_1_1_0
Score        45.273621
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 90, dtype: object
StudentID    S_0_1_1_1
Score        64.580114
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 91, dtype: object
StudentID    S_0_1_1_2
Score        61.852932
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 92, dtype: object
StudentID    S_0_1_1_3
Score        66.536511
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 93, dtype: object
StudentID    S_0_1_1_4
Score        84.017645
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 94, dtype: object
StudentID    S_0_1_1_5
Score        69.630992
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 95, dtype: object
StudentID    S_0_1_1_6
Score        51.057975
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 96, dtype: object
StudentID    S_0_1_1_7
Score         71.35636
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 97, dtype: object
StudentID    S_0_1_1_8
Score        47.027123
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 98, dtype: object
StudentID    S_0_1_1_9
Score        55.570351
ClassID        C_0_1_1
TeacherID        T_0_1
SchoolID      School_0
Name: 99, dtype: object
StudentID    S_0_1_1_10
Score         59.503781
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 100, dtype: object
StudentID    S_0_1_1_11
Score         77.319624
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 101, dtype: object
StudentID    S_0_1_1_12
Score         52.738649
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 102, dtype: object
StudentID    S_0_1_1_13
Score         51.921812
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 103, dtype: object
StudentID    S_0_1_1_14
Score         59.201672
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 104, dtype: object
StudentID    S_0_1_1_15
Score         53.551414
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 105, dtype: object
StudentID    S_0_1_1_16
Score         71.452556
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 106, dtype: object
StudentID    S_0_1_1_17
Score         49.386882
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 107, dtype: object
StudentID    S_0_1_1_18
Score          48.71151
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 108, dtype: object
StudentID    S_0_1_1_19
Score         55.807996
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 109, dtype: object
StudentID    S_0_1_1_20
Score         55.205872
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 110, dtype: object
StudentID    S_0_1_1_21
Score         79.481517
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 111, dtype: object
StudentID    S_0_1_1_22
Score         69.680405
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 112, dtype: object
StudentID    S_0_1_1_23
Score         61.061709
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 113, dtype: object
StudentID    S_0_1_1_24
Score         47.931842
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 114, dtype: object
StudentID    S_0_1_1_25
Score         68.629827
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 115, dtype: object
StudentID    S_0_1_1_26
Score         50.184043
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 116, dtype: object
StudentID    S_0_1_1_27
Score         44.738486
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 117, dtype: object
StudentID    S_0_1_1_28
Score         72.066495
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 118, dtype: object
StudentID    S_0_1_1_29
Score         63.355623
ClassID         C_0_1_1
TeacherID         T_0_1
SchoolID       School_0
Name: 119, dtype: object
StudentID    S_0_2_0_0
Score        72.114288
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 120, dtype: object
StudentID    S_0_2_0_1
Score        66.092976
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 121, dtype: object
StudentID    S_0_2_0_2
Score        71.474005
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 122, dtype: object
StudentID    S_0_2_0_3
Score        56.395443
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 123, dtype: object
StudentID    S_0_2_0_4
Score        52.563271
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 124, dtype: object
StudentID    S_0_2_0_5
Score        69.721645
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 125, dtype: object
StudentID    S_0_2_0_6
Score        54.871603
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 126, dtype: object
StudentID    S_0_2_0_7
Score        56.010202
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 127, dtype: object
StudentID    S_0_2_0_8
Score        58.350374
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 128, dtype: object
StudentID    S_0_2_0_9
Score        63.080491
ClassID        C_0_2_0
TeacherID        T_0_2
SchoolID      School_0
Name: 129, dtype: object
StudentID    S_0_2_0_10
Score          59.36576
ClassID         C_0_2_0
TeacherID         T_0_2
SchoolID       School_0
Name: 130, dtype: object
StudentID    S_0_2_0_11
Score         49.156186
ClassID         C_0_2_0
TeacherID         T_0_2
SchoolID       School_0
Name: 131, dtype: object
StudentID    S_0_2_0_12
Score         56.469515
ClassID         C_0_2_0
TeacherID         T_0_2
SchoolID       School_0
Name: 132, dtype: object
StudentID    S_0_2_0_13
Score         40.671668
ClassID         C_0_2_0
TeacherID         T_0_2
SchoolID       School_0
Name: 133, dtype: object
StudentID    S_0_2_0_14
Score         69.158014
ClassID         C_0_2_0
TeacherID         T_0_2
SchoolID       School_0
Name: 134, dtype: object
StudentID    S_0_2_0_15

In [37]:
n_classes=df['ClassID'].nunique()
n_teachers=df['TeacherID'].nunique()
n_schools=df['SchoolID'].nunique()
n_students=df['StudentID'].nunique()

In [40]:
# モデルの定義

# データセットの設定
# n_schools = 5  # 学校の数
# n_teachers_per_school = 3  # 各学校における教師の数
# n_classes_per_teacher = 2  # 各教師におけるクラスの数
# n_students_per_class = 30  # 各クラスにおける学生の数


# 入力データとしてクラスごとの平均を取るべきか
class BeyesModel(pm.Model):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        with self:
            self.add_coord(name="school", values=[f"School_{i}" for i in range(n_schools)])
            self.add_coord(name="teacher", values=[f"T_{i}_{j}" for j in range(n_teachers) for i in range(n_schools)])
            self.add_coord(name="class", values=[f"C_{i}_{j}_{k}" for k in range(n_classes) for j in range(n_teachers) for i in range(n_schools)])
            
            school_mean = pm.Normal(name='school_mean', mu=50, sigma=10, dims="school")
            teacher_mean = pm.Normal(name='teacher_mean', mu=0, sigma=10)
            class_sigma = pm.HalfCauchy(name='class_sigma', beta=5, dims="class")
            
            pm.Normal(name='class_score', mu=school_mean[int(df["SchoolID"][-1])] + teacher_mean[int(df["SchoolID"][-1])*n_teachers_per_school+int(data["TeacherID"][-3])], sigma=class_sigma, dims="class")
            
            
model = BeyesModel()

KeyError: -1